@import "http://webfonts.ru/import/ptsans.css";
@import "http://webfonts.ru/import/intro.css";
@import "http://webfonts.ru/import/caviar.css";
@import "http://webfonts.ru/import/roboto.css";

$midnight-blue: #247;
$blue: #305499;
$black: #333;
$white: #fff;
$hopbush: #e80523;
$pale-sky: #454545;
$col-tovar: #949094;
$opacity: transparent !important; 

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
	font-family: 'PT Sans';
}
h1,h2,h3,h4,h5,h6 {color: $pale-sky;}

h1 {font-family: 'Intro';}
h2 {font-family: 'Intro';}
h3 {font-family: 'Intro';}
h4 {font-family: 'Caviar Dreams';}
p {font-family: 'PT Sans';}
a {font-family: 'PT Sans';}
ol, ul {
	margin-bottom: 0px;
	margin-top: 0px;
}
// Стилди для HEADER
#header {
	padding-top: 2em;
	padding-bottom: 2em;
	background: $white;
	color: $pale-sky;
	position: relative;
	z-index: 999;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	.logo {
		font-family: 'Intro';
		font-weight: 0;
		a {
			text-decoration: none;
			h3 {
				margin-top: 10px;
				color: lighten($blue, 20);
				font-family: 'Intro';
			}
		}
	}
	h5 {
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 20px;
		color: $blue;
		font-weight: 300;
		font-family: 'Roboto';
	}
	h3 {
		margin-top: 20px;
		margin-bottom: 0px;
		color: $blue;
		font-weight: 600;
		font-family: 'Roboto';
	}
	.form-control {
		border-radius: 2px 0 0 2px;
		height: 32px;
	}
	.btn {
		border-radius: 0 2px 2px 0;
		color: $pale-sky;
		background: rgba(255, 193, 43, 0.93);
		border: none;
		padding: 6px 20px;
	}
	.ion-ios-email {
		font-size: 24px;
		line-height: 25px;
		position: relative;
		top: 4px;
		color: lighten($midnight-blue, 10);
	}
	.ion-ios-telephone {
		font-size: 24px;
		line-height: 25px;
		position: relative;
		top: 1px;
		color: lighten($midnight-blue, 10);
	}
	h6 {
		color: $pale-sky;
		font-family: 'Caviar Dreams';
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.ion-ios-cart {
		font-size: 32px;
		line-height: 25px;
		position: relative;
		top: 7px;
		font-weight: 900;
	}
	.cart {
		margin-top: 20px;
		.bit {
			opacity: 1;
			transform: translateX(0px);
			transition: all 0.3s ease-in-out; 
			&.carting {
				opacity: 1;
				transform: translateX(0px);
			}
		}
		a {
			color: $pale-sky;
			&:hover {
				color: lighten($blue, 15);
			}
		}
	}
	@media (min-widht: 320px) {
		.cont {
			float: right;
		}
	}
}
.navbar {
	margin-bottom: 0px;
	min-height: 0px;
	
	.navbar-toggle {
		float: left;
		padding: 0px 10px;
		margin-top: 0px;
		margin-bottom: 0px;
		.ion-android-menu {
			font-size: 32px;
		}
	}
}
.nav>li>a {
	color: $black;
	padding: 10px 10px;
	font-weight: 600;
	&:focus {
		background-color: $opacity;
		text-decoration: underline;
		color: $blue;
	}
	&:hover {
		background-color: $opacity;
		text-decoration: underline;
		color: $blue;
	}
}
.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover {
	background-color: $opacity;
	border-color: $opacity;
}
.ser {
	padding-left: 60px;
	padding-top: 5px;
}
.social {
	margin-top: 20px;
}
.form-control:focus {
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
//Слайдер
.slider-pro {
    font-family: 'Caviar Dreams';
}
.slider {
	background: #333;
	min-height: 100px;
	max-height: 400px;
}

/* Example 3 */
#example3 .sp-selected-thumbnail {
	border: 4px solid #000;
}
.links {
	text-align: center;
	margin-top: 10px;
}
//Контент главной страницы
#index-content {
	padding: 3rem 0 6rem;
	background: #f5f5f5;
	.title-h {
		h1 {
			margin-bottom: 3rem;
			font-family: 'Intro';
			font-weight: 0;
		}
	}
	.title-gend {
		margin-top: 100px;
	}
	.tovars {
		h4 {
			margin-bottom: 1em;
		}

		.tovar {
			min-height: 320px;
			z-index: auto;
			@include border-radius(4px);
			position: relative;
			background: $white;
			margin-bottom: 1em;
			box-shadow: 0px 0px 3px rgba(119, 119, 119, 0.2);
			border: 1px solid rgba(128, 128, 128, 0.3);
			opacity: 0;
			transition: all 0.3s ease-in-out; 
			select {
				.cs-skin-slide .cs-options li span .color-box {
					width: 40px;
					height: 40px;
					background: #fff;
					border: 1px solid #333;
					border-radius: 50%;
					display: inline-block;
					content: '';
				}
			}
			
			&.is-showing {
				opacity: 1;
				transform: translateX(0px);
			}
			&:hover {
				.img-tov {
					img{
						transform: scale(1.5);
					}
				}
			}
			figcaption {
				position: absolute;
				display: inline-block;
				background: rgba(255, 255, 255, 0.95);
				padding: 5px 15px;
				//right: -100%;
				bottom: 0px;
				z-index: 999;
				width: 100%;
				transition: all 0.3s ease-in-out;
				overflow: visible;
				h5 {
					margin-bottom: 0px;
					font-family: 'PT Sans';
					font-weight: 300;
					color: $black;
				}
				h3 {
					font-family: 'Caviar Dreams';
					font-weight: 600;
					color: lighten($blue, 20);
					margin-top: 10px;
				}
				p {
					font-size: 13px;
					padding-top: 2px;
					padding-bottom: 0px;
					color: $blue;
					font-family: 'PT Sans';
				}
			}
			.img-tov {
				overflow: hidden;
				display: inline-block;
				min-height: 310px;
				width: 100%;
				position: absolute;
				img {	
					min-width: 150px;	
					max-width: 200px;	
					padding-left: 5px;
					padding-right: 5px;	
					width: 100%;
					margin: 0px auto;
					position: absolute;
					top: 25px;
					bottom: 0;
					right: 0;
					left: 0;
					z-index: 1;
					display: block;
					transform: scale(1);
					transition: all 0.3s ease-in-out; 
				}
			}
		}
	}
}

#company {
	padding: 3em 0 6em;
	background: #f5f5f5;
	h1 {
		margin-bottom: 30px;
	}
	h2 {
		font-family: 'Caviar Dreams';
		padding: 20px 0 10px 40px;
		font-weight: 600;
	}
}

#contacts {
	padding: 3em 0 6em;
	background: #f5f5f5;
	h1 {
		margin-bottom: 30px;	
	}
	h2 {
		font-family: 'Caviar Dreams';
		font-weight: 600;
	}
	#map {
		border: 5px solid $blue;
		border-radius: 4px;
	}
	.maps {
		height: 350px;
	}
	.adress {
		padding: 2em 0 1em;
		font-family: 'Roboto';
	}
	.write {
		padding: 0em 0 1em;
		h2 {
			padding-bottom: 10px;
		}
	}
	.form-control {
		border-radius: 2px;
		border: 1px solid lighten($black, 40);
		color: #333;
		font-family: 'Roboto';
	}
	.btn-primary {
		padding: 10px 50px;
		font-size: 15px;
		font-weight: 600;
		border-radius: 2px;
		margin-top: 30px;
		font-family: 'Roboto';
	}
}

//FOOTER
footer {
	background: darken($pale-sky, 10);
	position: relative;
	padding: 3em 0rem 4em;
	color: darken($white, 50);
	ul.nav-stacked li  a {
		color: darken($white, 50);
		padding: 0 15px;
		font-size: 16px;
		&:hover {
			color: darken($white, 30);
			text-decoration: none;
		}
	}
	.cont {
		.icon {
			font-size: 24px;
			color: darken($white, 30);
		}
		h3, h5 {
			font-family: 'Caviar Dreams';
			color: darken($white, 30);
			cursor: pointer;
			&:hover {
				color: $white;
			}
		}
		h5 {
			position: relative;
			bottom: 3px;
			font-size: 20px;
		}
	}
	.form-control {
		border-radius: 2px 0 0 2px;
		background: darken($pale-sky, 0);
		border: 1px solid $pale-sky;
		height: 32px;
		color: lighten($pale-sky, 40);
		&:hover {
			border: 1px solid lighten($pale-sky, 20);
		}
		&:active {
			border: 1px solid lighten($pale-sky, 20);
		}
		&:focus {
			border: 1px solid lighten($pale-sky, 20);
		}
	}
	.btn {
		border-radius: 0 2px 2px 0;
		color: $white;
		background: rgba(255, 193, 43, 0.93);
		border: none;
		padding: 6px 20px;
		&:hover {
			background: rgba(255, 193, 43, 0.9);
			color: $white;
			padding: 6px 20px;
		}
	}
	.logo h2 {
		color: lighten($blue, 20);
		font-size: 36px;
	}
	h3 {
		color: darken($white, 40);
	}
}

#copyright {
	background: darken($black, 5);
	padding: 10px 0px 10px;
	h5 {
		color: darken($white, 40);
	}
}













